/* aside.css */

@media screen and (min-width:36em) {
	h1 ~ .aside,hgroup ~ .aside,h2 ~ .aside {
		position:relative;
		top:-3.5em;
	}
	.aside {
		float:right;
	}
} /* end screen */

@media print {
	.aside {
		float:right;
	}
} /* end print */

.aside {
	clear:right;
	list-style:none;
	padding:1ex;
	width:16em;
	margin-top:0;
	margin-bottom:1em;
}

.aside {
	clear:right;
	list-style:none;
	padding:1ex;
	width:16em;
}

.aside>li {
	padding:0.5ex;
}

.aside>li:last-child {
	border-bottom:none;
}

.aside ul {
	padding-left:1em;
}

table.aside {
	border-spacing:0;
}

table.aside>thead>tr>td,table.aside>thead>tr>th,table.aside>tbody>tr>td,table.aside>tbody>tr>th {
	padding:0.5ex;
}
	
