/* ie8.css */

.aside {
	float: right;
	margin: 1ex;
}
#logo {
	float: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
#sidebar {
	float: none;
	position: absolute;
	top: 10em;
	left: 0px;
}
#tabs, #content, #footer {
	margin-left: 10em;
}
#content {
	min-height: 30em;
}
