<html>
<head><title>Login Form</title></head>
<body>
	<form id="login-form" style="padding: 1em;border: 1px solid #a8acb8; background: #ffffff; color: #333333; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px;">
		<label for="username">Username</label>
		<div><input type="text" id="login-username" name="username" size="15" /></div>

		<label for="password">Password</label>
		<div><input type="password" id="login-password" name="password" size="15" /></div>

		<div>
			<button type="submit">Login</button>
			<label>
				<input type="checkbox" id="remember" name="remember" />
				<span>Remember me</span>
			</label>
		</div>

		<p class="forgot">
			<a href="/accounts?forgotpassword">Forgot password or username?</a>
		</p>
	</form>
</body>
</html>
