/* template.css */

/* 
F58735 brown
0645AD blue
3F547F dark blue/gray
999FAD blue/gray
A8ACB8 light blue/gray
DDDDDD gray
EEEEEE light gray
*/

body {
	background-color: #DDDDDD;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(top, white, #DDDDDD 256px);
	background-image: -webkit-gradient(linear, center top, center 256, color-stop(0,white), color-stop(1,#DDDDDD));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#DDDDDD, GradientType=0)";
	margin: 0px;
	font-family: sans-serif;
}

a[href] {
	color: #0645AD;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

#header {
	float: right;
	font-size: x-small;
}

#search-box {
	display: inline-block;
	background-image: -moz-linear-gradient(top, #DDDDDD, white);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(white));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#DDDDDD, endColorstr=white, GradientType=0)";
	border: thin solid #999FAD;
	-moz-border-radius: 2pt;
	border-radius: 2pt;
	height: 1.75em;
	margin: 1px;
	padding: 0px;
	margin-left: 1ex;
}

#search-box-input {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#DDDDDD, endColorstr=white, GradientType=0)";
	border: none !important;
	margin: 0px;
	height: 1.5em;
	outline: none !important;
	vertical-align: middle;
}

#search-box-button {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#DDDDDD, endColorstr=white, GradientType=0)";
	border: none !important;
	margin: 0px;
	height: 1.5em;
	outline: none !important;
	cursor: pointer;
	vertical-align: middle;
}

#sidebar {
	float: left;
	margin: 0px;
	padding: 0px;
}

#logo {
	text-align: center;
    padding-bottom: 2em;
	width: 10em;
	height: 128px;
	display: block;
	background-image: url(logo.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#logo img {
	border: none;
}

#nav {
	list-style: none;
	width: 10em;
	margin: 0px;
	padding: 0px 1ex;
	font-size: small;
	list-style: none;
}

#nav>li {
	border-bottom: 1px solid #A8ACB8;
	padding: 0.5ex;
}

#nav>li:last-child {
	border-bottom: none;
}

#nav li {
    display: block;
}

#nav li span {
    text-decoration: none;
	color: #3F547F;
}

#nav ul {
	list-style: none;
	margin: 0px;
	margin-left: 1ex;
	padding: 0px;
}

#tabs {
	display: block;
	list-style: none;
	margin: 0px 0px -1px 10em;
    padding: 1ex 3pt 0px 0px;
	vertical-align: bottom;
	min-height: 1.25em;
	line-height: 1.25em;
	font-size: small;
}

#tabs li {
    display: inline;
    text-align: center;
}

#tabs li a, #tabs li span {
    display: inline-block;
    border-top: 1px solid #A8ACB8;
    border-right: 1px solid #A8ACB8;
    border-left: 1px solid #A8ACB8;
	padding: 0px 1ex;
	color: black;
}

#tabs li a {
	background: #DDDDDD;
    border-bottom: 1px solid #A8ACB8;
    text-decoration: none;
}

#tabs li span {
    background: white;
    border-bottom: 1px solid white;
    font-weight: bold;
}

#content {
	background-color: white;
	border-top: 1px solid #A8ACB8;
	border-left: 1px solid #A8ACB8;
	border-bottom: 1px solid #A8ACB8;
	border-right: 0px;
	margin: 0px 0px 1ex 10em;
	padding: 1ex;
	min-height: 150pt;
}

#content-stop {
	clear: both;
}

.aside {
	float: right;
	width: 16em;
	background-color: #EEEEEE;
	border: 1px solid #A8ACB8;
	padding: 1ex;
	margin: 1ex;
	list-style: none;
}

.aside>li {
	border-bottom: 1px solid #A8ACB8;
	padding: 0.5ex;
}

.aside>li:last-child {
	border-bottom: none;
}

.aside ul {
	list-style: none;
	padding-left: 1em;
}

table.aside {
	border-spacing: 0px;
}

table.aside>thead>tr>td, table.aside>thead>tr>th.
table.aside>tbody>tr>td, table.aside>tbody>tr>th {
	border-bottom: 1px solid #A8ACB8;
	padding: 0.5ex;
}

table.aside>tbody:last-child>tr:last-child>td, 
table.aside>tbody:last-child>tr:last-child>th {
	border-bottom: none;
}

.result {
	list-style-type: square;
	margin-top: 1ex;
}

img.icon {
	padding-right: 2pt;
}

.summary {
	line-height: 1em;
	max-height: 3.1em;
	overflow: hidden;
}

.summary * {
	margin: 0px;
	padding: 0px;
}

.cite {
	color: #3F547F;
}

.drag-over {
	cursor: copy;
	background-color: #DDDDDD !important;
}

.wait * {
	cursor: wait;
}

a.diverted {
	cursor: alias;
}

form {
	margin: 0px;
}

input, select, textarea {
	background-image: -moz-linear-gradient(top, #DDDDDD, white);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(white));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#DDDDDD, endColorstr=white, GradientType=0)";
	border: thin solid #999FAD;
	-moz-border-radius: 2pt;
	border-radius: 2pt;
}

ui-datepicker {
	font-size: small;
}

button {
	background-image: -moz-linear-gradient(top, white, #F58735);
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F58735));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#F58735, GradientType=0)";
	border: thin solid #3F547F;
	-moz-border-radius: 2pt;
	border-radius: 2pt;
}

label.error {
	color: red;
	font-style: italic;
	font-size: x-small;
	display: block;
}

input.error { outline: 2px ridge red; }

iframe {
	border: none;
	width: 300pt;
	height: 150pt;
	background-color: white;
}

#footer {
    text-align: right;
    padding-bottom: 25pt;
	margin-left: 10em;
}

#footer-lastmod {
	font-size: small;
    text-align: left;
}

#footer img {
    padding-right: 25pt;
	vertical-align: top;
	border: none;
}

