/* colour.css

F58735 brown
0645AD blue
3F547F dark blue/gray
999FAD blue/gray
A8ACB8 light blue/gray
DDDDDD gray
EEEEEE light gray*/

body {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#DDDDDD, GradientType=0)";
	background-color:#DDDDDD;
	background-image:-moz-linear-gradient(top, white, #DDDDDD 256px);
	background-image:-webkit-gradient(linear, center top, center 256, color-stop(0,white), color-stop(1,#DDDDDD));
	background-repeat:no-repeat;
}

a[href] {
	color:#0645AD;
}

#logo {
	background-image:url(/callimachus/images/callimachus-logo.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
}

#header .ui-button {
	-moz-border-radius:2px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=#DDDDDD, GradientType=0)";
	background-color:#DDD;
	background-image:-moz-linear-gradient(top, #EEE, #EEE, #DDD);
	background-image:-webkit-gradient(linear, left center, left bottom, from(#EEE), to(#DDD));
	border:thin solid #3F547F;
	border-radius:2px;
}

#header .ui-icon-search {
	background-image: url(images/ui-icons_2e83ff_256x240.png);
	background-position: -160px -112px;
	background-repeat: no-repeat;
}

#header .ui-icon-circle-arrow-s {
	background-image: url(images/ui-icons_f58735_256x240.png);
	background-position: -128px -192px;
	background-repeat: no-repeat;
}

#header .ui-state-default {
	background:#eeeeee url(images/ui-bg_flat_100_eeeeee_40x100.png) 50% 50% repeat-x;
	border:1px solid #a8acb8;
	color:#0645ad;
}

nav#menu>ul>li {
	border-bottom:1px solid #A8ACB8;
}

nav#menu>ul>li:last-child {
	border-bottom:none;
}

nav#menu li h3 {
	color:#3F547F;
}

#access>a {
	background:white;
	border-bottom:1px solid white;
	border-left:1px solid #A8ACB8;
	border-right:1px solid #A8ACB8;
	border-top:1px solid #A8ACB8;
}

#access>a[onclick] {
	background:#DDDDDD;
	border-bottom:1px solid #A8ACB8;
}

.breadcrumb:first-child {
	display:inline-block;
	background-image: url(images/ui-icons_f58735_256x240.png);
	background-position:0 -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-indent: -9999999px;
	vertical-align:text-bottom;
}

#container {
	background-color:white;
	border-bottom:1px solid #A8ACB8;
	border-left:1px solid #A8ACB8;
	border-right:0;
	border-top:1px solid #A8ACB8;
}

.iframe, .iframe body,.iframe #container {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	background:inherit;
	border:none;
}

iframe.ui-widget-content.ui-dialog-content {
	background-color:white;
	border:none;
}

aside,
.aside {
	background-color:#EEEEEE;
	border:1px solid #A8ACB8;
}

aside>ul>li,
.aside>li {
	border-bottom:1px solid #A8ACB8;
}

aside>ul>li:last-child,
.aside>li:last-child {
	border-bottom:none;
}

img {
	border:none;
}

.cite {
	color:#3F547F;
}

.watermark {
	color:#aaa;
}

iframe.ui-widget-content.ui-dialog-content {
	background-color:white;
	border:none;
}

.drag-over {
	background-color:#DDDDDD !important;
}

input,textarea,.textarea {
	-moz-border-radius:2px;
	-moz-box-shadow:rgba(0,0,0, 0.1) 0 0 8px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	-webkit-box-shadow:rgba(0,0,0, 0.1) 0 0 8px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background:-moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	border:thin solid #999FAD;
	border-radius:2px;
	box-shadow:rgba(0,0,0, 0.1) 0 0 8px;
}

.textarea>input,.textarea>button {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	box-shadow:none !important;
	border:0 !important;
	background:transparent !important;
}

button {
	-moz-border-radius:2px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=#DDDDDD, GradientType=0)";
	background-color:#DDD;
	background-image:-moz-linear-gradient(top, #EEE, #EEE, #DDD);
	background-image:-webkit-gradient(linear, left center, left bottom, from(#EEE), to(#DDD));
	border:thin solid #3F547F;
	border-radius:2px;
}

button.submit,button[type=submit] {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#F58735, GradientType=0)";
	background-color:#F58735;
	background-image:-moz-linear-gradient(top, white, #F58735);
	background-image:-webkit-gradient(linear, left top, left bottom, from(white), to(#F58735));
}

label.error {
	color:red;
}

