/* layout.css */

body {
	margin:0;
}

#branding,#colophon,nav#menu>ul>li,#access>a,.aside>li,.aside>thead,.aside>tbody,.aside>tfoot {
	font-size:small;
}

#header {
	float:right;
	height:1.5em;
}

#branding {
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	height:1.5rem;
}

#search {
	display:inline-block;
}

#header button {
	font-weight:bold;
	font-size:1em;
	margin:0;
}

#header .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 16px;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}

#header .ui-button-text {
	display:block;
	padding-left:22px;
}

#header .ui-button-icon-only .ui-button-text {
	display:none;
}

#header button.ui-button-icon-only {
	width: 16px;
}

#login-form {
	text-align:left;
}

#logo {
	display:block;
	float:left;
	height:8em;
	text-align:center;
	text-decoration:none;
	width:10em;
}

nav#menu>ul {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:10em;
}

nav#menu>ul>li {
	margin:0 1ex;
	padding:0.5ex;
}

nav#menu li {
	display:block;
}

nav#menu li h3 {
	text-decoration:none;
	font-weight:normal;
	font-size: 1em;
	margin:0;
	padding:0;
}

nav#menu>ul ul {
	list-style:none;
	margin:0;
	margin-left:1ex;
	padding:0;
}

#access {
	clear:right;
	cursor:default;
	display:block;
	line-height:1em;
	list-style:none;
	margin-top:0;
	margin-bottom:-1px;
	min-height:1em;
	padding:1ex 3pt 0 0;
	vertical-align:bottom;
}

#access>a {
	display:inline-block;
	padding:0;
	text-align:center;
}

#access>a {
	color:black;
	cursor:default;
	display:inline-block;
	font-weight:bold;
	padding:0 0.5em;
	text-decoration:none;
}

#access>a[onclick] {
	font-weight:normal;
}

#breadcrumbs {
	font-size:small;
	padding:0.5em;
}

#container {
	clear:right;
	margin:0 0 1ex;
	overflow:hidden;
}

#content {
	padding:1ex;
	padding-left:1em;
}

.iframe body,.iframe #container {
	margin:0;
	padding:0;
}

.iframe #content {
	margin:0;
	padding:0.5em;
}

.iframe #header,.iframe #access,.iframe nav#menu,.iframe #logo,.iframe #footer {
	display:none;
}

#footer {
	padding-right:25pt;
	padding-bottom:25pt;
}

#site-generator {
	float:right;
	margin:0;
}

.aside {
	clear:right;
	list-style:none;
	padding:1ex;
	width:16em;
	margin-top:0;
	margin-bottom:1em;
}

.aside>li {
	padding:0.5ex;
}

.aside>li:last-child {
	border-bottom:none;
}

.aside ul {
	padding-left:1em;
	margin:0;
}

table.aside {
	border-spacing:0;
}

table.aside>thead>tr>td,table.aside>thead>tr>th,table.aside>tbody>tr>td,table.aside>tbody>tr>th {
	padding:0.5ex;
}

/* start desktop */
@media screen and (min-width:42em) {
	#logo { float:none; position:absolute; top:0; left:0; }
	nav#menu { float:none; position:absolute; top:8em; left:0; }
	#access, #container, #footer { margin-left:10em; }
}

@media screen and (min-width:64em) {
	#access { clear:none; }
}

@media screen and (min-width:36em) {
	hgroup ~ #sidebar { position:relative; top:-6em; }
	h1 ~ #sidebar { position:relative; top:-3.5em; }
	#sidebar { float:right; padding-left:1em; }
	.aside { float:right; }
}

@media screen and (min-height:36em) {
	#content { min-height:30em; }
}

.ie7_html #logo { float:none; position:absolute; top:0; left:0; }
.ie7_html nav#menu { float:none; position:absolute; top:10em; left:0; }
.ie7_html #access, .ie7_html #container, .ie7_html #footer { margin-left:10em; }
.ie7_html #access { clear:none; }
.ie7_html #content { min-height:28em; }
.ie7_html .iframe #content {min-height: 0px; }
.ie7_html hgroup ~ #sidebar { position:relative; top:-6em; }
.ie7_html h1 ~ #sidebar { position:relative; top:-3.5em; }
.ie7_html #sidebar { float:right; padding-left:1em; }
.ie7_html .aside { float:right; }
/* end desktop */

/* start print */
@media print {
	#logo, nav#menu, #header, #access { display:none; }
	#container { border:none; }
	body { background:inherit; }
	.aside { float:right; }
} /* end print */
	
