/* layout.css */

body {
	margin:0;
}

#header-text,#footer-text,#nav>li,#tabs>li,.aside>li,.aside>thead,.aside>tbody,.aside>tfoot {
	font-size:small;
}

#header {
	float:right;
	height:1.5em;
}

#header-text {
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	height:1.5rem;
}

#header-lookup {
	display:inline-block;
}

#header-login {
	display:inline-block;
}

#header button {
	font-weight:bold;
	font-size:1em;
}

#header .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 16px;
}

#header .ui-button-text {
	display:block;
	padding-left:22px;
}

#header .ui-button-icon-only .ui-button-text {
	text-indent: -9999999px;
}

#header button.ui-button-icon-only {
	width: 16px;
}

#login-form {
	text-align:left;
}

#logo {
	display:block;
	float:left;
	height:10em;
	text-align:center;
	text-decoration:none;
	width:10em;
}

#nav {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:10em;
}

#nav>li {
	margin:0 1ex;
	padding:0.5ex;
}

#nav li {
	display:block;
}

#nav li h3 {
	text-decoration:none;
	font-weight:normal;
	font-size: 1em;
	margin:0;
	padding:0;
}

#nav ul {
	list-style:none;
	margin:0;
	margin-left:1ex;
	padding:0;
}

#tabs {
	clear:right;
	cursor:default;
	display:block;
	line-height:1em;
	list-style:none;
	margin-top:0;
	margin-bottom:-1px;
	min-height:1em;
	padding:1ex 3pt 0 0;
	vertical-align:bottom;
}

#tabs li {
	display:inline-block;
	padding:0;
	text-align:center;
}

#tabs li a {
	color:black;
	cursor:default;
	display:inline-block;
	font-weight:bold;
	padding:0 0.5em;
	text-decoration:none;
}

#tabs li a[onclick] {
	font-weight:normal;
}

#breadcrumbs {
	font-size:small;
	padding:0.5em;
}

#main {
	clear:right;
	margin:0 0 1ex;
	overflow:hidden;
}

#content {
	padding:1ex;
	padding-left:1em;
}

.iframe body,.iframe #main {
	margin:0;
	padding:0;
}

.iframe #content {
	margin:0;
	padding:0.5em;
}

.iframe #header,.iframe #tabs,.iframe #nav,.iframe #logo,.iframe #footer {
	display:none;
}

#footer {
	padding-right:25pt;
	padding-bottom:25pt;
}

#footer-powered {
	float:right;
	margin:0;
}
/* start desktop */
@media screen and (min-width:42em) {
	#logo { float:none; position:absolute; top:0; left:0; }
	#nav { float:none; position:absolute; top:10em; left:0; }
	#tabs, #main, #footer { margin-left:10em; }
}

@media screen and (min-width:56em) {
	#tabs { clear:none; }
}

@media screen and (min-height:36em) {
	#content { min-height:28em; }
}

.ie7_html #logo { float:none; position:absolute; top:0; left:0; }
.ie7_html #nav { float:none; position:absolute; top:10em; left:0; }
.ie7_html #tabs, #main, #footer { margin-left:10em; }
.ie7_html #tabs { clear:none; }
.ie7_html #content { min-height:28em; }
.ie7_html .iframe #content {min-height: 0px; }
/* end desktop */

/* start print */
@media print {
	#logo, #nav, #header, #tabs { display:none; }
	#main { border:none; }
	body { background:inherit; }
} /* end print */
	
