/* theme-variables.less */

@baseLineHeight: 1.25rem;
@navbarHeight: 2.5rem;
@searchHeight: 1.8rem;
@footerHeight: 4rem;

// img paths
@bgImgUrlHeader: url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png");
@iconSpritePath:          "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";
