/* bg-alt.css */

body {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background:url(bg-alt.jpg) no-repeat center center fixed;
	background-color:lightsteelblue;
}
