/* colour.css */

body {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background:url(bg-alt.jpg) no-repeat center center fixed;
	background-color:lightsteelblue;
}
	
#top {
	background-color:#231F20;
}

#footer {
	background-color:#231F20;
	color:#BCBEC0;
}

#footer a {
	color: #BCBEC0;
}

#header {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color:rgba(256,256,256,0.75);
	border: solid 1px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}

#logo {
	background-image:url(/callimachus/images/callimachus-logo.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
}

#header button {
	border:0;
	-moz-border-radius:3px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-border-radius:3px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-bottom:1px solid black;
	border-bottom:1px solid rgba(0,0,0,0.25);
	background-color:#555;
	color:#FFF;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

#header .ui-icon-search {
	background-image: url(images/ui-icons_333333_256x240.png);
	background-position: -160px -112px;
	background-repeat: no-repeat;
}

#header .ui-icon-circle-arrow-s {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -128px -192px;
	background-repeat: no-repeat;
}

#header .ui-state-default {
	background: #555 url(images/ui-bg_flat_100_555555_40x100.png) repeat-x 50% 50%;
	border: 1px solid #333;
	color:white;
}

nav#menu>ul>li {
	border-right:solid 1px #414042;
}

nav#menu li h3 {
	color:white;
	font-weight:bold;
}

#container {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color:rgba(256,256,256,0.75);
	border: solid 1px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}

a[href] {
	color:#0645AD;
}

#access {
	-moz-border-bottom-left-radius:12px;
	-moz-border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	-moz-box-shadow:0 -2px 5px #888;
	-webkit-box-shadow:0 -2px 5px #888;
	box-shadow:0 -2 5px #888;
	background:white;
	border-top:solid 1px #666;
	background-color:rgba(256,256,256,0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}

#access>a {
	border-right: groove 2px white;
}

#access>a[href] {
	background:transparent;
}

.breadcrumb:first-child {
	display:inline-block;
	background-image:url(images/ui-icons_333333_256x240.png);
	background-position:0 -112px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	text-indent:-9999999px;
	vertical-align:text-bottom;
}

.iframe body,.iframe #container {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	background:inherit;
	border:none;
}

iframe.ui-widget-content.ui-dialog-content {
	background-color:white;
	border:none;
}

aside,
.aside {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color:rgba(256,256,256,0.75);
	border: solid 1px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}

aside>ul>li,
.aside>li {
	border-bottom:1px solid #A8ACB8;
}

aside>ul>li:last-child,
.aside>li:last-child {
	border-bottom:none;
}

h1 {
	color:#01017C;
	text-shadow:1px 1px 1px #FFFFFF;
	border-bottom:2px groove white;
}

img {
	border:none;
}

.cite {
	color:#3F547F;
}

.watermark {
	color:#aaa;
}

.drag-over {
	background-color:#DDDDDD !important;
}

input, textarea, .textarea {
	border: thin solid #999FAD;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.textarea>input,.textarea>button {
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EEEEEE, endColorstr=white, GradientType=0)";
	box-shadow:none !important;
	border:0 !important;
	background:transparent !important;
}

button {
	border:0;
	-moz-border-radius:3px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-border-radius:3px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-bottom:1px solid black;
	border-bottom:1px solid rgba(0,0,0,0.25);
	background-color:#555;
	color:#FFF;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

button.submit, button[type=submit], button:hover {
	background-color:#3A80B3;
	color:#fff;
}

label.error {
	color:red;
}

