/* layout.css */

html,body {
	margin:0;
	height:100%;
}

html.iframe,.iframe body {
	height:inherit;
}

#header-text,#footer-text,#nav>li,#tabs>li,.aside>li,.aside>thead,.aside>tbody,.aside>tfoot {
	font-size:small;
}

#page-top {
	min-height:100%;
	overflow:hidden;
}
	
#top {
	height:10px;
}

#logo {
	display:none;
	float:left;
	text-align:center;
	text-decoration:none;
}

#header {
	min-height:60px;
	margin-top:15px;
	margin-bottom:15px;
}

#header-float {
	float:right;
	min-height:60px;
}

#header-float-clear {
	clear:right;
}

#header-text {
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	padding-right:1em;
	height:60px;
}

#header-lookup {
	display:inline-block;
}

#header-login {
	display:inline-block;
}

.auth #header-login, .auth #login-form {
	display:none !important;
}

#header button {
	font-weight:bold;
	font-size:1em;
}

#header .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 16px;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}

#header .ui-button-text {
	display:block;
	padding-left:22px;
}

#header .ui-button-icon-only .ui-button-text {
	display:none;
}

#header button.ui-button-icon-only {
	width: 16px;
}

#login-form {
	text-align:left;
}

#search-box {
	display:inline-block;
	height:1.75em;
	line-height:1.75em;
	margin:1px;
	margin-left:1ex;
	padding:0;
}

#search-box-input {
	height:1.75em;
	margin:0;
	margin-bottom:0.25em;
	outline:none !important;
	padding:0;
	vertical-align:middle;
}

#search-box-button {
	cursor:pointer;
	height:1.5em;
	margin:0;
	outline:none !important;
	text-shadow:none;
	vertical-align:middle;
}

#page {
	overflow:auto;
	padding-bottom:12em;  /* must be same height as the footer */
}

#main {
	margin-bottom:1ex;
}

#content {
	padding-right:0.5em;
	padding-left:1em;
}

h1 {
	padding: 0.25em;
	margin-bottom: 0.5em;
	margin-top:0.25em;
}

#tabs {
	margin:0;
	padding:0;
	cursor:default;
	display:block;
	line-height:1em;
	list-style:none;
	min-height:2em;
	vertical-align:bottom;
}

#tabs li {
	display:inline-block;
	padding:0;
	text-align:center;
}

#tabs li a {
	color:black;
	cursor:default;
	display:inline-block;
	font-weight:bold;
	padding:0 1em;
	margin:0.5em 0;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	font-size:larger;
}

#tabs li a[href] {
	font-size:100%;
	font-weight:normal;
}

#breadcrumbs {
	font-size:small;
	padding:0.5em;
}

.iframe body,.iframe #main,.iframe #page-top,.iframe #page {
	margin:0;
	padding:0;
	height:auto;
	max-height:none;
}

.iframe #content {
	margin:0;
	padding:0.5em;
}

.iframe #header,.iframe #tabs,.iframe #nav,.iframe #logo,.iframe #footer,.iframe #top {
	display:none;
}

iframe.ui-widget-content.ui-dialog-content {
	margin:0;
	padding:0;
}

#footer {
	overflow:hidden;
	position:relative;
	margin-top:-12em; /* negative value of footer height */
	min-height:12em;
	clear:both;
}

#footer-powered,#footer-lastmod,#footer-rights {
	text-align:center;
	margin:0 1em;
	padding:0.5em 1em;
}

#nav {
	list-style:none;
	margin:0;
	padding:0;
}

#nav>li {
	display:block;
	float:left;
	margin:1em;
	width:10em;
	height:10em;
}

#nav li {
	display:block;
}

#nav li h3 {
	text-decoration:none;
	font-weight:normal;
	font-size: 1em;
	margin:0;
	padding:0;
}

#nav ul {
	list-style:none;
	margin:0;
	margin-left:1ex;
	padding:0;
}

#manifest-rights {
	clear:left;
	text-align:center;
}

.aside {
	clear:right;
	list-style:none;
	padding:1ex;
	width:16em;
	margin-top:0;
	margin-bottom:1em;
}

.aside>li {
	padding:0.5ex;
}

.aside>li:last-child {
	border-bottom:none;
}

.aside ul {
	padding-left:1em;
	margin:0;
}

table.aside {
	border-spacing:0;
}

table.aside>thead>tr>td,table.aside>thead>tr>th,table.aside>tbody>tr>td,table.aside>tbody>tr>th {
	padding:0.5ex;
}

/* start desktop */
@media screen and (min-width:384px) {
	#logo { display:block; height:90px; width:192px; }
	#header { margin-left:192px; }
}

@media screen and (min-width:960px) {
	#page { width:960px; margin-left: auto; margin-right: auto; }
	#footer-text { width:960px; margin-left:auto; margin-right:auto; }
}

@media screen and (min-width:36em) {
	#main { margin-right:18em; position:relative; }
	.nosidebar #main { margin-right:0; }
	#sidebar { position:absolute; top:0; right:-18em; width:16em; padding-left:1em; }
	.aside { float:right; }
}

@media screen and (min-height:36em) {
	#content { min-height:21em; }
	.iframe #content { min-height:inherit; }
}
.ie7_html #logo { display:block; height:90px; width:192px; }
.ie7_html #header { margin-left:192px; }

.ie7_html #page { width:960px; margin-left: auto; margin-right: auto; }
.ie7_html #footer-text { width:960px; margin-left:auto; margin-right:auto; }

.ie7_html #content { min-height:21em; }
.ie7_html.iframe #content { min-height:inherit; }

.ie7_html #main { margin-right:18em; position:relative; }
.ie7_html.nosidebar #main { margin-right:0; }
.ie7_html #sidebar { position:absolute; top:0; right:-18em; width:16em; padding-left:1em; }
.ie7_html .aside { float:right; }

.ie7_html .aside { margin-top:-17px; margin-bottom:2em; }
/* end desktop */

/* start print */
@media print {
	#logo, #nav, #header, #tabs, button { display:none; }
	body { background:inherit; }
	.aside { float:right; }
} /* end print */
	
