/* folder-view.css */

/* FIXME use a different menu and remove this */		
.navbar + .container {
    min-height: 600px; /* make sure the create-menu doesn't trigger scrollbars */
}

html.iframe .navbar + .container {
    min-height: 500px; /* less space needed for the create-menu in iframes */
}

#folder-box .ui-grid-header,
#folder-box .ui-grid-footer {
    border: 0;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: -o-linear-gradient(top, #f9f9f9, #eeeeee);
    background-image: linear-gradient(to bottom, #f9f9f9, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
}

#folder-box table {
    border: 0;
}

#folder-box table th {
    padding: 0.2rem 1rem;
}

#folder-box tr th:first-child,
#folder-box tr td:first-child {
   border-left: 0; 
}

#folder-box tr th:last-child,
#folder-box tr td:last-child {
   border-right: 0; 
}

.dropup .dropdown-menu { top: auto; bottom: -2px; }
.dropup>.dropdown-submenu>.dropdown-menu { bottom: -7px; }

.ui-grid-header {
    line-height: 24px;
}

.ui-grid-header nav.btn-group {
    text-align: left;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    vertical-align: middle;
    line-height: 21px;
}    

.ui-grid-header nav.btn-group a.btn {
    padding: 3px 10px 4px !important;
    font-size: 13px;
    vertical-align: middle;
    color: #fff;
}

.ui-grid-header nav.btn-group a.btn-icon {
    padding: 3px 5px 4px !important;
}

.ui-grid-header nav.btn-group a.btn-icon i {
    vertical-align: top;
    margin-top: 1px;
}

.ui-grid-header .dropdown-menu img.icon[src*="pipeline"] {
    margin-left: 3px;
    margin-right: 3px;
}

.filecol { width:100% }
.ui-grid table tbody td.filecell { text-align: left }
#table.small .permission { display:none; }

/* Grid
----------------------------------*/
.ui-grid { font-size:small}
.ui-grid .ui-grid-content { width: 100%; border-collapse: collapse; border-spacing:0; }
.ui-grid table thead th { white-space:nowrap; }
.ui-grid table tbody td { text-align: right; white-space:nowrap; }
.ui-grid table tbody td, .ui-grid .ui-grid-header, .ui-grid table thead a { padding: .4em;  }
.ui-grid .ui-grid-header, .ui-grid .ui-grid-footer { padding: .8em .4em; text-align: center; }
.ui-grid .ui-grid-footer { background-image: none; font-weight: normal; text-align: left; }
.ui-grid table thead a { display: block;  }
.ui-grid .ui-icon { float: left; }

