// callimachus-variables.less

// ----------------------------------------------------------------------------
// variables.less overrides
// ----------------------------------------------------------------------------

@baseFontSize:          1em;
@baseLineHeight:        @baseFontSize * 1.4;

@h1FontSize:            xx-large;
@h2FontSize:            x-large;
@h3FontSize:            large;
@h4FontSize:            medium;
@h5FontSize:            small;
@h6FontSize:            x-small;

@iconSpritePath:        "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:   "../images/glyphicons-halflings-white.png";

@baseLineHeight: 1.25rem;
@navbarHeight: 2.5rem;
@searchHeight: 1.8rem;
@largeNavbarHeight: @navbarHeight * 2;


// ----------------------------------------------------------------------------
// jquery.ui.variables.less overrides
// ----------------------------------------------------------------------------

// Font Settings
@ffDefault: @sansFontFamily;
@fsDefault: @sansFontFamily;

// Header/Toolbar
@bgColorHeader: @grayLighter;
@borderColorHeader: @grayLight;
@fcHeader: @gray;

// Content
@bgColorContent: @bodyBackground;
@borderColorContent: @grayLight;
@fcContent: @textColor;

// Clickable: default state
@bgColorDefault: @grayLighter;
@borderColorDefault: @grayLight;
@fcDefault: @gray;

// Clickable: hover state
@bgColorHover: @grayLight;
@borderColorHover: @gray;
@fcHover: @grayDark;

// Clickable: active state
@bgColorActive: @white;
@borderColorActive: @grayLight;
@fcActive: @grayDark;

// Error
@borderColorError: @red;
@fcError: @red;

@bgImgUrlHeader: url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png");

