/* callimachus.less
 * Import the style rules and default values
 */

/* https://github.com/jquery/jquery-ui  */
@import url("jquery.ui.all.less");

/* https://github.com/twitter/bootstrap */
@import url("bootstrap.less");
@import url("responsive.less");

/* Callimachus bootstrap overrides */
@import url("callimachus-variables.less");
@import url("callimachus-bootstrap.less");

/* disable screen only elements */
@import url("../styles/callimachus-print.css");

/* callimachus.css */

html {
    overflow-y: scroll;
}

.wait,.wait * {
    cursor:wait;
}

.drag-over {
    cursor:copy;
}

html.logout .protected,
html.logout .hidden-logout {
    display: none !important;
}

html.login .hidden-login {
    display: none !important;
}

html.iframe .hidden-iframe {
    display: none !important;
}

html.iframe {
    overflow-y: scroll;
}

body {
    background-color: @white;
}

time {
    white-space:nowrap;
}

[dropzone] .ui-state-highlight {
    white-space:nowrap;
}

iframe.ui-widget-content.ui-dialog-content {
    margin:0;
    padding:0;
}

pre {
    white-space:pre-wrap;
}

img.icon {
    max-height:1em;
    padding-right:2pt;
    vertical-align:text-top;
}

a.ui-icon {
    display:inline-block;
    vertical-align:text-bottom;
}

.flex {
    display:block;
}

.summary {
    line-height:1em;
    max-height:3.1em;
    overflow:hidden;
}

.summary * {
    margin:0;
    padding:0;
}

/* theme rules */

div, footer, iframe { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.tab-content {
    padding: 1rem;
}

.iframe .tab-content {
    padding: 0;
}

html.login .nav-tabs ~ .tab-content {
    border: 1px solid #ddd;
    .border-radius(0 0 4px 4px);
    border-top: none;
}

html.login.iframe .nav-tabs ~ .tab-content {
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

.iframe body {
    padding: 0.5rem;
}

.container {
    overflow:auto;
    position: relative;
}

.navbar .container {
    overflow:visible;
}

html.iframe .container {
    padding: 0;
    width: auto;
}

/* FIXME use a different menu and remove this */
.navbar + .container {
    min-height: 600px; /* make sure the create-menu doesn't trigger scrollbars */
}

html.iframe .navbar + .container {
    min-height: 0; /* no need to have space for the create-menu */
}

.ui-dialog {
    padding-bottom: 0;
    .box-shadow(0 5px 10px rgba(0,0,0,0.2));
    max-width: 640px;
}

/* add a border to the iframe */
form > #iframe {
    border: 1px solid @grayLight;
}

/* add some space between iframe and buttons */
form > #iframe ~ .btn {
    margin-top: 0.4rem;
}

form {
    margin-bottom: 0;
}

/* navbar */

.navbar-inner {
    .border-radius(0);
    border: 0;
    border-bottom: 1px solid @navbarBorder;
}

.navbar .brand {
  padding: ((@navbarHeight - @baseLineHeight) / 2)rem 20px ((@navbarHeight - @baseLineHeight) / 2)rem;
}

.navbar-search {
  .navbarVerticalAlign(@searchHeight); 
}

/* breadcrumbs */


.navbar + .container {
    padding-top: 20px;
}

.navbar + .container > *.breadcrumb:first-child {
    position: absolute;
    margin-top: -20px;
    padding: 5px 2px;
    background-color: transparent;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    display: inline-block;
}    

.breadcrumb:hover {
    opacity: 1;
}

.breadcrumb .divider {
    padding: 0 10px;
}

/* sidebar */

.sidebar + div {
    margin-right: 20rem;
}

.tab-content {
    min-height: 15rem;
}

.sidebar {
    width: 18rem;
    right: 0;
    position: absolute;
}

.iframe .sidebar {
    margin-top: 1rem;
}

aside {
    .border-radius(3px);
    .box-shadow(0 0 7px rgba(0, 0, 0, 0.1) inset);
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

aside p:last-child {
    margin-bottom: 0;
}    

aside h3 {
    line-height: 1rem;
    margin-top: 0;
}

/* footer */
.navbar-relative-bottom {
    width: 100%;
    position: relative;
    clear: both;
    color: @navbarText;
    background-color: @navbarBackground;
    border-top: 1px solid @navbarBorder;
    height: @navbarHeight;
    margin-bottom: 0;
    box-sizing: border-box;
}
.until-navbar-large {
    min-height: 100%;
    overflow: hidden;
    padding-bottom: @largeNavbarHeight;
}
.until-navbar-large + .navbar-large.navbar-relative-bottom {
    margin-top: -@largeNavbarHeight;
}

.navbar-large {
    height: @largeNavbarHeight;
}

.navbar-large .navbar-inner {
    min-height: @largeNavbarHeight;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#grid {
    .core (@gridColumnWidth, @gridGutterWidth) {
        .span (@columns) {
          width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
        }
        // Set the container width, and override it for fixed navbars in media queries
        .navbar-relative-bottom .container { .span(@gridColumns); }
    }
}
.navbar-relative-bottom .navbar-inner {
  #gradient > .vertical(@navbarBackground, @navbarBackgroundHighlight);
}
.navbar-relative-bottom {
  position: relative;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for default navbar
}
.navbar-relative-bottom .navbar-inner {
  border-width: 1px 0 0;
}

.navbar-relative-bottom {
  bottom: 0;
  .navbar-inner {
    .box-shadow(inset 0 1px 0 rgba(0,0,0,.1), 0 -1px 10px rgba(0,0,0,.1));
  }
}

/* folder-box */

#folder-box .ui-grid-header,
#folder-box .ui-grid-footer {
    border: 0;
    #gradient.vertical(#f9f9f9, #eee);    
}

#folder-box table {
    border: 0;
}

#folder-box table th {
    padding: 0.2rem 1rem;
}

#folder-box tr th:first-child,
#folder-box tr td:first-child {
   border-left: 0; 
}

#folder-box tr th:last-child,
#folder-box tr td:last-child {
   border-right: 0; 
}

/* create-menu */

#create-menu {
    padding: 0 10px 10px;
    margin-left: -10px;
    z-index: 1000;
    height: auto;
}

#create-menu ul {
    .box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}    

#create-menu a {
    background: @grayLighter;
}    

#create-menu li:last-child a {
    border-bottom: 1px solid @grayLight;
}

/* drag-drop states */

.dragover, .drag-over,
.dragover td, .drag-over td {
    cursor: copy;
    background: #ddd !important;
}

/* ie tweaks */

html.ie header.navbar-inner .container {
    padding: 5px 0 5px 20px;
}

html.ie header.navbar-inner .container menu a.dropdown-toggle {
    padding: 2px 0 0 10px;
}

html.ie .until-navbar-large {/* ie8 doesn't properly support min-height */
    height: 100%;
}

html.ie header.navbar-inner .container menu a.dropdown-toggle {
    padding: 2px 0 0 10px;
}

html.ie.iframe .until-navbar-large {
    overflow: auto;
    height: auto;
}

html.ie .sidebar {
    width: 35%;
}

html.ie .sidebar ~ div {
    margin-right: 37%;
}

html.ie.iframe .sidebar {
    margin: 10px 10px 0 0;
}

html.ie aside {
    .border-radius(3px);
    .box-shadow(0 0 7px rgba(0, 0, 0, 0.1) inset);
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

html.ie .tab-content form {
    padding: 10px;
}

html.ie .form-actions {
    padding: 10px;
}
