
// ----------------------------------------------------------------------------
// variables.less overrides
// ----------------------------------------------------------------------------

@baseFontSize:          1em;
@baseLineHeight:        @baseFontSize * 1.4;

@h1FontSize:            xx-large;
@h2FontSize:            x-large;
@h3FontSize:            large;
@h4FontSize:            medium;
@h5FontSize:            small;
@h6FontSize:            x-small;

@iconSpritePath:        "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:   "../images/glyphicons-halflings-white.png";


// ----------------------------------------------------------------------------
// jquery.ui.variables.less overrides
// ----------------------------------------------------------------------------

@ffDefault: @baseFontFamily;
@fsDefault: @baseFontSize;
