/* folder-view.css */

.tab-content { overflow: visible; }
.dropup .dropdown-menu { top: auto; bottom: -7px; }

.ui-grid-header {
    line-height: 24px;
}

.ui-grid-header nav.btn-group {
    text-align: left;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    vertical-align: middle;
    line-height: 21px;
}    

.ui-grid-header nav.btn-group a.btn {
    padding: 3px 10px 4px !important;
    font-size: 13px;
    vertical-align: middle;
    color: #fff;
}

.ui-grid-header nav.btn-group a.btn-icon {
    padding: 3px 5px 4px !important;
}

.ui-grid-header nav.btn-group a.btn-icon i {
    vertical-align: top;
    margin-top: 1px;
}

.ui-grid-header .dropdown-menu img.icon[src*="pipeline"] {
    margin-left: 3px;
    margin-right: 3px;
}

.filecol { width:100% }
.ui-grid table tbody td.filecell { text-align: left }
#table.small .permission { display:none; }

/* Grid
----------------------------------*/
.ui-grid { font-size:small}
.ui-grid .ui-grid-content { width: 100%; border-collapse: collapse; border-spacing:0; }
.ui-grid table thead th { white-space:nowrap; }
.ui-grid table tbody td { text-align: right; white-space:nowrap; }
.ui-grid table tbody td, .ui-grid .ui-grid-header, .ui-grid table thead a { padding: .4em;  }
.ui-grid .ui-grid-header, .ui-grid .ui-grid-footer { padding: .8em .4em; text-align: center; }
.ui-grid .ui-grid-footer { background-image: none; font-weight: normal; text-align: left; }
.ui-grid table thead a { display: block;  }
.ui-grid .ui-icon { float: left; }

