/* content.css */

body,button { font-family:Arial,Helvetica,sans-serif; }
@media print { body { font-family:serif; } }

.watermark {
    font-size:small;
    font-style:italic;
}

div.ui-datepicker {
    font-size:small;
}

div.ui-helper-hidden-accessible {
    position: absolute !important;
    left: auto;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

a.ui-icon {
    display:inline-block;
    vertical-align:text-bottom;
}

[dropzone] .ui-state-highlight {
    white-space:nowrap;
}

iframe.ui-widget-content.ui-dialog-content {
    margin:0;
    padding:0;
}

a:link, a:visited {
    text-decoration:none;
}

a:link:hover, a:visited:hover {
    text-decoration:underline;
}

pre {
    white-space:pre-wrap;
}

.result {
    list-style-type:square;
    margin-top:1ex;
}

img.icon {
    max-height:1em;
    padding-right:2pt;
    vertical-align:text-top;
}

.summary {
    line-height:1em;
    max-height:3.1em;
    overflow:hidden;
}

.summary * {
    margin:0;
    padding:0;
}

.wait,.wait * {
    cursor:wait;
}

label {
    font-weight:bold;
}

.textarea>input,.textarea>button {
    outline:none !important;
    vertical-align:middle;
    padding:0;
    margin:0;
}

.flex {
    display:block;
}

header,nav,article,footer,address,details,summary {
    display:block;
}

.drag-over {
    cursor:copy;
}

time {
    white-space:nowrap;
}

form,
fieldset {
    margin:0;
    padding:0;
    border:0;
}

label {
    display:inline-block;
    white-space:nowrap;
}

form label[for],label[form] {
    margin-top:1ex;
    display:block;
}

label.input,
form label[for].input,
label[form].input,
label.radio,
form label[for].radio,
label[form].radio,
label.checkbox,
form label[for].checkbox,
label[form].checkbox {
    display:inline-block;
    font-weight:normal;
    margin-top:0;
}

input,textarea,.textarea {
    display:inline-block;
}

button {
    position:relative;
    white-space:nowrap;
    margin:0.5em 0.25em 0.5em 0;
    font-size:small;
}

button:active {
    top:1px;
}

button.add,button.remove,button.dialog,button.browse {
    padding:0;
}

label.error {
    display:block;
    font-size:x-small;
    font-style:italic;
}

html.logout .protected,
html.logout .hidden-logout,
html.login  .hidden-login {
    display: none !important;
}

@media print {
    button,.button {
        display:none;
    }
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  pre, blockquote { page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

