/* layout.css */

body {
    margin:0;
}

#branding,
#colophon,
nav#menu>nav,
#access>a,
aside>*,
.aside>* {
    font-size:small;
}

#header {
    float:right;
    height:1.5em;
}

#branding {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
    height:1.5rem;
}

#search {
    display:inline-block;
}

#header button {
    font-weight:bold;
    font-size:1em;
    margin:0;
}

#header .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 16px;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

#header .ui-button-text {
    display:block;
    padding-left:22px;
}

#header .ui-button-icon-only .ui-button-text {
    display:none;
}

#header button.ui-button-icon-only {
    width: 16px;
}

#login-form {
    text-align:left;
}

#logo {
    display:block;
    float:left;
    height:8em;
    text-align:center;
    text-decoration:none;
    width:10em;
}

nav#menu {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    width:10em;
}

nav#menu ul {
    margin:0 1ex;
    padding:0.5ex;
}

nav#menu li {
    display:block;
    margin:0 1ex;
    padding:0 0.5ex;
}

nav#menu h3 {
    text-decoration:none;
    font-weight:normal;
    font-size: 1em;
    margin:0 1ex;
    padding:0.5ex;
}

nav#menu ul {
    list-style:none;
    margin:0;
    margin-left:1ex;
    padding:0;
}

#access {
    clear:right;
    cursor:default;
    display:block;
    line-height:1em;
    list-style:none;
    margin-top:0;
    margin-bottom:-1px;
    min-height:1em;
    padding:1ex 3pt 0 0;
    vertical-align:bottom;
}

#access>a {
    display:inline-block;
    padding:0;
    text-align:center;
}

#access>a {
    color:black;
    cursor:default;
    display:inline-block;
    font-weight:bold;
    padding:0 0.5em;
    text-decoration:none;
}

#access>a[onclick] {
    font-weight:normal;
}

#breadcrumbs {
    font-size:small;
    padding:0.5em;
}

#container {
    clear:right;
    margin:0 0 1ex;
    overflow:hidden;
}

#content {
    padding:1ex;
    padding-left:1em;
}

.iframe body,.iframe #container {
    margin:0;
    padding:0;
}

.iframe #content {
    margin:0;
    padding:0.5em;
}

.iframe #header,.iframe #access,.iframe nav#menu,.iframe #logo,.iframe #footer {
    display:none;
}

#footer {
    padding-right:25pt;
    padding-bottom:25pt;
}

#site-generator {
    float:right;
    margin:0;
}

aside,
.aside {
    clear:right;
    padding:1ex;
    width:16em;
    margin-top:0;
    margin-bottom:1em;
}

aside h3,
.aside h3 {
    margin-top: 0;
    margin-bottom: 0;
}

aside p,
.aside p {
    padding: 0.5em;
    margin: 0;
}

aside ul,
.aside ul {
    padding-left:1em;
    margin:0;
}

/* start desktop */
@media screen and (min-width:42em) {
    #logo { float:none; position:absolute; top:0; left:0; }
    nav#menu { float:none; position:absolute; top:8em; left:0; }
    #access, #container, #footer { margin-left:10em; }
}

@media screen and (min-width:64em) {
    #access { clear:none; }
}

@media screen and (min-width:36em) {
    h1 { padding-right: 12em; }
    .nosidebar h1 { padding-right: 0; }
    hgroup ~ #sidebar { position:relative; top:-6em; }
    h1 ~ #sidebar { position:relative; top:-3.5em; }
    #sidebar { float:right; padding-left:1em; }
    aside,.aside { float:right; }
}

@media screen and (min-height:36em) {
    #content { min-height:30em; }
}

.ie #logo { float:none; position:absolute; top:0; left:0; }
.ie nav#menu { float:none; position:absolute; top:10em; left:0; }
.ie #access, .ie #container, .ie #footer { margin-left:10em; }
.ie.iframe #access, .ie.iframe #container, .ie.iframe #footer { margin-left:0; }
.ie #access { clear:none; }
.ie #content { min-height:28em; }
.ie .iframe #content {min-height: 0px; }
.ie hgroup ~ #sidebar { position:relative; top:-6em; }
.ie h1 ~ #sidebar { position:relative; top:-3.5em; }
.ie #sidebar { float:right; padding-left:1em; }
.ie.iframe #sidebar { float:none; }
.ie aside, .ie .aside { float:right; }
.ie.iframe aside, .ie.iframe .aside { float:none; }
/* end desktop */

/* start print */
@media print {
    #logo, nav#menu, #header, #access { display:none; }
    #container { border:none; }
    body { background:inherit; }
    #sidebar { float:right; padding-left:1em; }
    aside, .aside { float:right; }
} /* end print */
    
