/* callimachus.css */

html {
    overflow-y: scroll;
}

.wait,.wait * {
    cursor:wait;
}

.drag-over {
    cursor:copy;
}

html.logout .protected,
html.logout .hidden-logout {
    display: none !important;
}

html.login .hidden-login {
    display: none !important;
}

html.iframe .hidden-iframe {
    display: none !important;
}

html.iframe {
    overflow-y: auto;
}

time {
    white-space:nowrap;
}

[dropzone] .ui-state-highlight {
    white-space:nowrap;
}

iframe.ui-widget-content.ui-dialog-content {
    margin:0;
    padding:0;
}

pre {
    white-space:pre-wrap;
}

img.icon {
    max-height:1em;
    padding-right:2pt;
    vertical-align:text-top;
}

a.ui-icon {
    display:inline-block;
    vertical-align:text-bottom;
}

.flex {
    display:block;
}

.summary {
    line-height:1em;
    max-height:3.1em;
    overflow:hidden;
}

.summary * {
    margin:0;
    padding:0;
}

